body {
  font: icon;
}

body>div {
  display: flex;
  gap: 1em;
}

#slotsSpan {
  color: gray;
}

#slotSpan {
  flex: 1;
}

table {
  border: 1px solid gray;
  margin-block: 1em;
  width: 100%;
  user-select: none;
}

caption {
  caption-side: bottom;
}

tr:hover {
  background: silver;
}

th {
  width: 0;
}

td {
  border: 1px solid silver;
}

td.selected {
  outline: 1px solid black;
}

a {
  text-decoration: none;
}

button {
  align-items: center;
  display: inline-flex;
  gap: .5ch;
}

button>span {
  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-block;
  height: 1ch;
  outline: 1px solid gray;
}

dialog>form {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

dialog:not(.update) #deleteButton {
  display: none;
}

button[type="submit"] {
  display: none;
}
